{% load static %}
<link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<body>

<ul>
{% for recipe in recipes %}
<li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></li>
{% endfor %} 
</ul>
<p><a href="{% url 'recipeadd' %}">Add Recipe</a></p>
<p><a href="{% url 'authoradd' %}">Add Author</a></p>
<p><a href="{% url 'signup' %}">Add User</a></p>
<p><a href="{% url 'login' %}">Login</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>

</body>


